<html>
<head>
    <title>Projet Kevin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="app" ng-controller="main">
<div class="container">
    <h1>{{name}} a fait une mauvaise blague</h1>

    <form>
        <div class="form-group">
            <label>La blague</label><textarea cols="100" rows="3" type="text" ng-model="joke"
                                              class="form-control"></textarea>
            <button class="btn btn-success" ng-click="addJoke(joke)">Ajouter la mauvaise blague</button>

        </div>
    </form>
    <h2>Historique des mauvaises blagues</h2>
    <input type="text" ng-model="jokefilter">

    <p>{{(jokes | filter:jokefilter).length }} blagues</p>

    <div ng-repeat="joke in jokes | filter:jokefilter">
        <p><strong>{{joke.date | date : short}}</strong> {{joke.txt}}</p>
    </div>
</div>
</body>
</html>