<html>
<head>
  <title>Projet Kevin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app"  ng-controller="main">
  <div class="container">
    <h1>{{kevin}} a fait une mauvaise blague</h1>
    <form>
      <div class="form-group">
        <label>La blague</label><textarea cols="100" rows="3"  type="text" ng-model="joke" class="form-control"></textarea>
        <button class="btn btn-success" ng-click="addJoke(joke)">Ajouter</button>
      </div>
    </form>
    <h2>Historique des mauvaises blagues</h2>
    <input type="txt" ng-model="jokefilter.txt"/>
    <button class="btn btn-link" ng-click="order('score')">Ordonner par score</button>
    <button class="btn btn-link" ng-click="order('date')">Ordonner par date</button>
    <p>{{(jokes | filter:jokefilter).length }} blagues</p>
    <div ng-repeat="joke in jokes | filter:jokefilter | orderBy : predicate : reverse" ng-controller="jokeController">
      <p><strong>{{joke.date | date : short }}</strong> {{joke.txt}}</p>
      <span ng-if="joke.score != undefined && joke.score >0">+ {{joke.score}}</span>
      <button class="btn glyphicon glyphicon-thumbs-up" ng-click="plusOne(joke)"></button>
      <button class="btn glyphicon glyphicon-star" ng-if="joke.favorite==true" ng-click="removeFavorite(joke)"></button>
      <button class="btn glyphicon glyphicon-star-empty"  ng-if="!joke.favorite==true" ng-click="addFavorite(joke)"></button>
    </div>
  </div>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
